---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout title="About | Philosophy Dusting">
  <Container flex1="flex-1">
    <section class="flex h-full flex-col items-center justify-center gap-1">
      <h1 class="text-light text-2xl font-bold">about us</h1>
      <p class="text-left text-lg font-bold">read, write, repeat</p>
    </section>
  </Container>
</Layout>
