---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";

import { blogNames } from "../data/blogs";
---

<Layout title="Blogs | Philosophy Dusting">
  <Container flex1="flex-1">
    <section class="flex h-full flex-col items-center justify-center gap-1">
      <h1 class="text-2xl font-bold text-light">blogs</h1>
      <p class="text-left text-lg font-bold">read, write, repeat</p>
      {
        blogNames?.map((blog) => (
          <li>
            <a href={`/posts/${blog}`}>{blog}</a>
          </li>
        ))
      }
    </section>
  </Container>
</Layout>
