---
import Container from "./Container.astro";

const currentYear = new Date().getFullYear();
---

<footer class="mt-auto font-bold text-light">
  <Container>
    <p class="text-center">
      Copyright &copy; {currentYear} | Saurabh Srivastava | All Rights Reserved
    </p>
  </Container>
</footer>
