---
import Container from "./Container.astro";
---

<footer class="text-light mt-auto font-bold">
  <Container>
    <p class="text-center">
      Copyright &copy; 2023 | Saurabh Srivastava | All Rights Reserved
    </p>
  </Container>
</footer>
