---

---

<button id="hamburger" class="flex flex-col gap-2 md:hidden">
  <span class="inline-flex h-[2px] w-8 bg-dark dark:bg-light"></span>
  <span class="inline-flex h-[2px] w-8 bg-dark dark:bg-light"></span>
  <span class="inline-flex h-[2px] w-8 bg-dark dark:bg-light"></span>
</button>
