---
import Container from "./Container.astro";
import Navigation from "./Navigation.astro";
---

<header class="text-light">
  <Container>
    <a href="/" class="flex flex-col font-sans text-2xl font-bold">
      <span>philosophy</span>
      <span>dusting</span>
    </a>
    <Navigation />
  </Container>
</header>
