---
import Hamburger from "./Hamburger.astro";
---

<nav id="navList">
  <Hamburger />
  <ul
    id="mobileNavigation"
    class="hidden text-bodytext md:flex md:gap-2 md:text-lg"
  >
    <li>
      <a href="/" class="font-bold text-light">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/blogs">Blogs</a>
    </li>
    <li>
      <a href="/tags/">Tags</a>
    </li>
    <li>
      <a
        href="/sign-up"
        class="rounded-sm px-6 py-3 font-bold dark:bg-light dark:text-dark md:hidden"
        >Sign up to newsletter</a
      >
    </li>
  </ul>
</nav>

<script>
  import "../scripts/hamburger";
</script>
