---
const socials = [{ platform: "twitter", username: "codedusting" }];
---

{
  socials.map((social) => (
    <a
      href={`https://www.${social.platform}.com/${social.username}`}
      target="_blank"
    >
      {social.platform}
    </a>
  ))
}
