---
type Props = {
  title: string;
};
const { title } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="flex h-[100%] flex-col">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Collection of Life's Philosophical Writings"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="relative flex h-[100%] flex-col bg-light font-sans text-dark dark:bg-dark dark:text-bodytext"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
